{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./app"
                ],
                "alias": {
                    "@http": "./app/src/http",
                    "@services": "./app/src/services",
                    "@components": "./app/src/components",
                    "@constants": "./app/src/constants",
                    "@navigation": "./app/src/components/navigation",
                    "@stacks": "./app/src/components/stacks",
                    "@screens": "./app/src/screens",
                    "@styles": "./app/src/styles",
                    "@assets": "./app/assets",
                    "@images": "./app/assets/images",
                    "@config": "./app/config",
                    "@data": "./app/data",
                    "@app": "./app",
                    "@": "./app/src"
                }
            }
        ]
    ]
}